$tr-color: #00df82
$another-color: #0e1717
$breakpoint-large-screen: 1430px
$breakpoint-medium-screen: 992px

.expense-title
  height: 7%
  display: flex
  align-items: center
  color: rgba(0, 0, 0, 0.7)

.ex-first-col
  border-radius: 5px
  border: 1px solid rgba(0, 0, 0, 0.3)
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)
  padding-bottom: 1rem
  padding-top: 1rem
  width: 420px

.expense-input
  border: 1px solid rgba(0, 0, 0, 0.5)
  border-radius: 5px

.ex-input-label
  display: flex
  justify-content: center
  width: 100%
  padding: 5px
  margin-bottom: 1rem

.re-amount
  color: darkgreen
  font-size: 1.5rem

#ex-amount
  color: red
  font-size: 1.5rem

#food-label, #bills-label, #et-label, #saving-label
  width: 150px
  padding: 1rem 0 1rem 0.7rem
  margin: 0.3rem
  border-radius: 5px
  color: white

#food-label
  background-color: #ffbc2b

#bills-label
  background-color: #2bff99

#et-label
  background-color: #ff362b

#saving-label
  background-color: #ff2b79

#food-text, #bills-text, #et-text, #saving-text



#expense-button
  border: none
  padding: 0.8rem
  color: white
  background-color: #1c2e2e
  border-radius: 5px

  &:hover
    background-color: #00df82